body {
    font-family: 'Inter', sans-serif;
    padding: 1em;
    z-index: 1;
}
#hamMenuButton {
    float: right;
    border-style: none;
    background-color: #fff;
}
#hamMenuButton:hover {
    cursor: pointer;
}
#cancelButton {
    float: right;
    border-style: none;
    background-color: #fff;
}
#cancelButton:hover {
    cursor: pointer;
}
#hiddenNavBlock {
    width: 50%;
    height: 100%;
    z-index: 5;
    display: none;
    float: right;
}
li {
    list-style: none;
    line-height: 4em;
    padding-right: 2em;
}
.new {
    color: hsl(35, 77%, 62%);
}
/* Blue wrapper sets the padding for the outter mid wrapper */
.blueWrapper {
    padding-top: 3em;
    padding-bottom: 3em;
}
.midWrapper {
    padding: 1em;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
}
h1 {
    font-size: 3.5em;
}
.heroText {
    font-size: 20px;
}
.readButton {
    background-color: hsl(14, 88%, 65%);
    padding: 1em;
    width: 12em;
    border-style: none;
    font-size: x-large;
    color: #fff;
    letter-spacing: 5px;
}
.heroImg {
    width: 100%;
    padding-top: 3em;
}
.readButton:hover {
    cursor: pointer;
}
.h3Wrapper1 {
    border-bottom-style: solid;
    border-width: 1px;
}
.h3Wrapper2 {
    border-bottom-style: solid;
    border-width: 1px;
}
.wrapper1 {
    display: flex;
}
.wrapper2 {
    display: flex;
}
.wrapper3 {
    display: flex;
}
.number {
    margin-top: -.005em;
    color: hsl(240, 6%, 50%);
    font-size: 10vw;
}
p {
    color: hsl(236, 13%, 42%);
}
.footerImg {
    padding-top: 1em;
    padding-bottom: 1em;
}
.footerText {
    margin-top: -1em;
    font-size: 4vw;
}
.footerText1 {
    float: right;
    flex: 50%;
    padding: 0 0 0 2em;
}
.footerText2 {
    float: right;
    flex: 50%;
    padding: 0 0 0 2em;
}
.footerText3 {
    float: right;
    flex: 50%;
    padding: 0 0 0 2em;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}  
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1000px) {
    header {
        grid-column: span 2;
    }
    .heroImg {
        object-fit: cover;
        width: 800px;
        height: 324px;
    }
    #hiddenNavBlock {
        display: block;
        margin-top: -1.4em;
        margin-bottom: -2em;
    }
    #hamMenuButton {
        display: none;
    }
    #cancelButton {
        display: none;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center; 
        float: right;
    }
    .heroWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .textButtonWrapper {
        width: 100%;
    }
    .blueWrapper {
        padding: 3em 0 0 3em;
    }
    .midWrapper { 
        width: 300px;
        height: 535px;
    }
    .midSectionWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .new {
        font-size: 40px;
    }
    .h3Wrapper {
        font-size: 18px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footerImg {
        height: 200px;
    }
    .number {
        font-size: 4vw;
        margin-top: 10px;
    }
    .footerText {
        font-size: 2vh;
    }
}

